* {
  box-sizing: border-box;
}

body {
  font-family: font-family: 'Roboto', sans-serif;
  font-weight: 300;
  background-color: #E6EBF5;
  margin: 0;
  font-size: 14px;
}

button:focus {
  outline:0;
}

.title-big {
  font-size: 20px;
  margin: 32px 0px 60px 0px;
}


.display-none {
  display: none;
}

.center {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.button {
  border-radius: 3px;
  text-decoration: none;
  text-align: center;
  width: 100px;
  background-color: white;
  margin-top: 20px;
}

.italic {
  font-style: italic;
}

.main-container {
  display: flex;
  flex-direction: column;
}
/* Section Adivina */

.container-game {
  border-bottom: solid 0.5px grey;
  width: 100%;
  text-align: center;
  position: relative;
  padding-bottom: 24px;
}

.label {
  display: none;
}

.inputs {
  border-radius: 2px;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-decoration: none;
  appearance: none;
  border-width: 0;
  height: 22px;
}

.message-clue {
  color: blue;
  border: solid 1px blue;
  width: 80%;
  height: 50px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 50px;
}

.attempts {
  position: absolute;
  top: 15%;
  right: 8%;
  color: red;
  font-size: 32px;
}

/* Section Histórico */

.container-historic {

}

.tittle-medium {
  font-size: 17px;
  padding-left: 10%;
  padding-top: 32px;
}

.list-historic {
  padding-left: 18%;
}


/* Media Queries */

@media all and (min-width: 900px) {
  .main-container {
    display: flex;
    flex-direction: row;
  }

  .container-game {
    border-right: solid 0.5px grey;
    border-bottom: none;
    width: 80%;
  }

  .container-historic {
    width: 20%;
  }

  .tittle-medium {
    padding-top: 32px;
    margin-top: 0;
  }

  .list-historic {
    padding-left: 25%;
  }

}
